{% extends "base.html" %}

{% block content %}

		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Incrições abertas!</a></h2>
				<div class="entry">
					<p>As inscrições para a eventeX, que ocorrerá entre os dias 29 de setembro e 1º de Outubro de 2011, no Rio de Janeiro, nas instalações do Business Center, estão abertas até dia 25/06. Quanto mais cedo você se inscrever, maior será o seu desconto! Faça já sua inscrição.</p>
				</div>
				<div class="meta">
					<p class="links"><a href="{% url subscription:subscribe %}" class="more">Inscreva-se!</a></p>
				</div>
			</div>
	  </div>
		<div id="sidebar">
			<ul>
				<p><strong>O eventeX</strong> propõe-se a promover discussões entre os inscritos, oficineiros e palestrantes, visando as melhores práticas e utilização de novas tecnologias para desenvolvimento de aplicativos para a web.</p>
			</ul>
		</div>
		<div class="clearfix">&nbsp;	</div>
		
{% endblock content %}